body{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
header{
    position: fixed;
    background: #22242a;
    padding: 20px;
    width: 100%;
    height: 20px;
}
.left-area h3{
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}
.left-area a{
    text-decoration: none;
}
.left-area span{
    color:#1dc4e7;
}
.left-area h3:hover{
    cursor: pointer;
}
.logout-btn{
    padding: 5px;
    float: right;
    margin-right: 40px;
    margin-top: -35px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    background: #19b3d3;
    color: #fff;
    border-radius: 2px;
    transition: 0.5s;
    transition-property: background;
}
.logout-btn:hover{
    background: #0d9dbb;
}

.sidebar{
    background: #2f323a;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    transition: 0.5s;
    transition-property: left;
}
.sidebar .profile-pic{
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.sidebar h4{
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
}
.sidebar a{
    color: #fff;
    display: block;
    width: 100%;
    line-height: 50px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar a:hover{
    background:#19b3d3;
}
.sidebar i{
    padding-right: 10px;
}
label #sidebar-btn{
    color: #fff;
    z-index: 1;
    position: fixed;
    cursor: pointer;
    left: 250px;
    font-size: 20px;
    padding: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar-btn:hover{
    color: #19b3d3;
}
#check:checked ~ .sidebar{
    left: -190px;
}
#check:checked ~ .sidebar a span{
    display: none;
}
#check:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
}
.container{
    margin-left: 250px;
    background:url(../img/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
    transition-property:  margin-left;
}
#check:checked ~ .container{
    margin-left: 60px;
}
#check{
    display: none;
}
